<script setup>
import { toRefs, onMounted, onUnmounted, ref } from 'vue';

const emit = defineEmits({
  onSuccess: (code) => {
    if (code){
      return true
    } else {
      console.warn('Invalid submit event payload!')
      return false
    }
  }
})

const props = defineProps({
  minLength: {
    type: Number,
    default: 6
  },
  timeout: {
    type: Number,
    default: 600
  }
})

const { scanProps } = toRefs(props);
const finalCode = ref(null)

onMounted(() => {
  document.addEventListener("keypress", documentKeyboardListener);
})

onUnmounted(() => {
  document.removeEventListener("keypress", documentKeyboardListener);
})

function documentKeyboardListener(e) {
  if (e.target.nodeName !== 'BODY') return;
  // Initialize a reading and run a timeout of specified timeout 
  // at the first read after it will clear everything
  if (!this.reading) {
    this.reading = true;
    this.code = "";
    this.fromScanner = true;
    setTimeout(() => {
      this.code = "";
      this.reading = false;
      this.fromScanner = false;
    }, props.timeout);
  }  
  if (e.code === "Enter") {
    if (this.reading && this.code && this.code.length > props.minLength) {
      emit('onSuccess', this.code )
      console.log("Success scan code:  " + this.code)
      finalCode.value = this.code;
      this.code = "";
      this.fromScanner = true;
    }
  } else {
    this.code += e.key; //while this is not an 'enter' it stores the every key
  }


}
</script>

<template>
  <input type="hidden" name="_barcode" v-model="finalCode" />
</template>
