<template>
  <div class="taulaRecents flex flex-wrap va-gutter-5 gap-5">
    <div class="item">
      <va-alert :color="prompter.level" :icon="prompterIcon(prompter.level)" class="mb-6">
        {{ prompter.message }}
      </va-alert>
    </div>
    <div class="item">
      <!-- Without vuestic will be st like:
      <h2>Last valid ticket</h2>
      <table>
        <thead>
          <tr>
            <th v-for="(row, index) in tickets_keys" :key="index">{{ row }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td v-for="field in tickets[current_ticket]">{{ field }}</td>
          </tr>
        </tbody>
      </table>  -->
      <va-list class="grid grid-rows-2 grid-flow-col">
        <va-list-item v-for="(field, index) in tickets[current_ticket]" :key="index" class="list__item">

          <va-list-item-section>
            <va-list-item-label>
              {{ index }}
            </va-list-item-label>

            <va-list-item-label caption>
              {{ field }}
            </va-list-item-label>
          </va-list-item-section>
        </va-list-item>
      </va-list>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { toRefs } from "vue";

const props = defineProps<{
  prompter: any;
  tickets_keys: any;
  tickets: any;
  current_ticket: any;
}>();
const { prompter, tickets_keys, tickets, current_ticket } = toRefs(props);

/**
 * Sets the icon based on vuestic color
 * 
 * @param string level 
 *   the level as in color of vuestic
 * 
 * @returns string
 *   the icon name 
 */
function prompterIcon(level:string) {
  let icon = level
  if (level === 'danger') {
    icon = 'error'
  }
  if (level === 'success') {
    icon = 'check_circle'
  }
  return icon
}
</script>
<style lang="scss" scoped></style>
