<script setup>
import { ref } from 'vue'

defineProps(['file_info'])

</script>
<template>
  <h2>{{ $t('fileProperties') }}</h2>
      <dl class="file-info-card row" v-show="file_info.name">
        <dt class="flex flex-col md3">{{ $t('name') }}</dt>
          <dd class="flex flex-col whitespace-pre-wrap mb-3"><b>{{ file_info.name }}</b></dd>
        <dt class="flex flex-col md3">{{ $t('type') }}</dt>
        <dd class="flex flex-col md9">{{ file_info.type }}</dd>
        <dt class="flex flex-col md3">{{ $t('size') }}</dt>
        <dd class="flex flex-col md9">{{ file_info.size }}</dd>
        <dt class="flex flex-col md3">{{ $t('modificationDate') }}</dt>
        <dd class="flex flex-col md9">{{ file_info.mod_date }}</dd>
      </dl>
</template>
<style lang="scss">
.file-info-card {
  width:100%;
  margin-right: 10px;

}
dl dd, dl dt {
    font-size:0.7em;
  }
</style>
