<template>
  <!-- If not using vuestic will be something like:
    <table class="va-table">
    <thead>
      <tr>
        <th v-for="(row, index) in tickets_keys" :key="index">{{ row }}</th>
      </tr>
    </thead>
    <tbody>
      <template v-for="(row, index) in tickets" :key="index">
        <tr :id="row[fields.barcode]" :class="premarked(row[fields.used])">
          <td v-for="field in row">
            <template v-if="field === row[fields.used]">
              <va-badge :text="field" :color="field" />
            </template>
            <template v-else>
              {{ field }}
            </template>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
-->
  <div class="va-title">{{ usedTickets.length }} tickets validats de {{ tickets.length }}</div>
  <va-data-table :items="tickets" :row-bind="getRowBind" :cell-bind="getCellBind" sticky-header height="100%" striped>
    <template #cell(Used)="{ value }">
      <template v-if="value.startsWith('✔')">
        <va-chip size="small" color="success">
          {{ value }}
        </va-chip>
      </template>
      <template v-else>
        {{ value }}
      </template>
    </template>
  </va-data-table>
</template>

<script lang="ts" setup>
import { toRefs, computed } from "vue";

const props = defineProps<{
  tickets_keys: any;
  tickets: any[];
  fields: {
    barcode: string;
    used: string;
    ticketId: string;
  };
  current_ticket_barcode: null;
  premarked: (used: string) => string;
}>();
const { tickets_keys, tickets, fields, premarked, current_ticket_barcode } = toRefs(props);

const usedTickets = computed(() => {
  if (tickets) {
    return tickets.value?.filter((element) => {
      console.log(element[fields.value.used]?.startsWith('✔'))
      return element[fields.value.used]?.startsWith('✔');
    })
  } else {
    return [];
  }
})

function getCellBind(cell:any, row:any, column:any) {
  if (column.key === fields.value.used) {
    return {
      class: props.premarked(row[fields.value.used]),
    };
  }
}

function getRowBind(row:any):any {
  if (row[fields.value.barcode] === current_ticket_barcode.value) {
    return {
      class: ["current-barcode"],
      onClick: () => console.log(current_ticket_barcode.value),
    };
  }
}

</script>
<style lang="scss" scoped>
::v-deep(.current-barcode) {
  pointer-events: none;
  background-color: var(--va-green-300);
}
</style>
