<script setup ts>
import BarcodeChecker from './components/BarcodeChecker.vue'
import { ref } from 'vue'

const page = ref(1)

</script>

<template>
  <VaLayout style="height: 100%;">
    <template #content>
      <main v-if="page === 1" class="">
        <BarcodeChecker msg="Barcode Checkr" />
      </main>
    </template>

  </VaLayout>
</template>

<style lang="scss" scoped>
@import 'scss/main.scss';

#app {

  height: 100%;
}

body {
  margin: 0;
}

main {
  height: 100%;
}
</style>
